<div class="d-flex justify-center pb-8 pt-8">
    <img src="/imgs/ControlFinance.png" alt="ControlFinance - Controle Financeiro" width="200">
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">
        <div class="d-flex align-center gap-4">
            <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Primary" /> Dashboard
        </div>
    </MudNavLink>
    <MudNavLink Href="/lancamentos/historicos" Match="NavLinkMatch.All">
        <div class="d-flex align-center gap-4">
            <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.History" IconColor="Color.Primary" /> HIstórico
        </div>
    </MudNavLink>
    <MudNavLink Href="/categorias" Match="NavLinkMatch.All">
        <div class="d-flex align-center gap-4">
            <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.Category" IconColor="Color.Primary" /> Categoria
        </div>
    </MudNavLink>
    <MudNavLink Href="/premium" Match="NavLinkMatch.All">
        <div class="d-flex align-center gap-4">
            <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.Diamond" IconColor="Color.Primary" /> Premium
        </div>
    </MudNavLink>
    <MudNavLink Href="/sair" Match="NavLinkMatch.All">
        <div class="d-flex align-center gap-4">
            <MudIcon Class="align-self-center" Icon="@Icons.Material.Filled.Logout" IconColor="Color.Primary" /> Sair
        </div>
    </MudNavLink>
</MudNavMenu>