<div class="d-flex justify-center pb-8 pt-8">
    <img src="/imgs/ControlFinance.png" alt="ControlFinance - Controle Financeiro" width="200">
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">
        Dashboard
    </MudNavLink>
    <MudNavGroup Title="Categorias" Icon="@Icons.Material.Filled.Category">
        <MudNavLink Href="/categorias/listar" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List">
            Listar Categoria
        </MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Transações" Icon="@Icons.Material.Filled.CompareArrows">
        <MudNavLink Href="/transacoes/adicionar" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Add">
            Nova Transação
        </MudNavLink>
        <MudNavLink Href="/lancamentos/historico" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History">
            Historico de Transações
        </MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/premium" Disabled="true" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Diamond">
        Premium
    </MudNavLink>
    <MudNavLink Href="/sair" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Logout">
        Sair
    </MudNavLink>
</MudNavMenu>